body{
	background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjdtPfhnuzXAhVwct8KHQBDDJkQjRwIBw&url=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F600743%2Fhow-to-get-div-height-to-auto-adjust-to-background-size&psig=AOvVaw3saHFjQO80zrumLkHhi9TS&ust=1512335460233685");
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0 auto;
}

