body{
    position: center;
    background-position: center;
    margin: 0 auto;
    background-image: url("/static/space.jpg");
    font-family: 'Ubuntu', sans-serif;
    color: #989898;
}
.form-control{
  background-color: #009698;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}

option {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
  text-align: center;
    display: block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: #FFFFFF;
    font-size: 48pt;
    text-shadow: 5px 5px rgba(00, 00, 00, 0.5);
}

#todo-table{
    position: center;
    background: #090d13;
    margin: 0 auto;
    padding: 10px;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
    width: 500px;
    padding: 10px;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #009688;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    vertical-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
}

h1{
  text-align: center;
}

#addresses {
    margin-bottom: : 10px;
}



.button {
    position: center;
    background-image: url('https://i.imgur.com/4wfJtlc.png');
    background-size: cover;
    text-align: center;
    width: 200px;
    height: 44px;
    margin: 0 auto;
    border-radius: 5px;
}
h3{
  text-align: center;
  font-weight: bold;
}

.converge{
  display: block;
  margin: 0 auto;
  float: none;

}

#add_type{
  text-align: center;
  width: 200px;
  height: 50px;
  align-items: center;
  vertical-align: center;
}
