body{
    position: center;
    background-position: center;
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwjdtPfhnuzXAhVwct8KHQBDDJkQjRwIBw&url=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F600743%2Fhow-to-get-div-height-to-auto-adjust-to-background-size&psig=AOvVaw3saHFjQO80zrumLkHhi9TS&ust=1512335460233685");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0 auto;
    font-family: tahoma;
    color: #989898;
}

h1 {
    display: inline;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-style: italic; 
    color: #ccccff;
}

#todo-table{
    position: center;
    background: #090d13;
    margin: 0 auto;
    padding: 10px;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
    width: 500px;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#181c22;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{
    padding: 20px;
    width: 30%;
    float: left;
    background: #009688;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
}

h1{
  text-align: center;
}

#addresses {
    margin-bottom: : 10px;
}



.button {
    position: center;
    background-image: url('https://i.imgur.com/4wfJtlc.png');
    background-size: cover;
    text-align: center;
    width: 280px;
    height: 44px;
    margin: 0 auto;
}

